<template>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field
            label="Name"
            v-model="name"
            :rules="nameRules"
            :counter="10"
            required
            ></v-text-field>
            <v-text-field
            label="Team"
            v-model="team"
            :rules="teamRules"
            required
            ></v-text-field>
            <v-select
            label="Status"
            v-model="select"
            :items="items"
            :rules="[v => !!v || 'Item is required']"
            required
            ></v-select>
            

            <v-btn
            @click="submit"
            :disabled="!valid"
            >
            submit
            </v-btn>
            <v-btn @click="clear">clear</v-btn>
        </v-form>
</template>
<script>
  export default {
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        (v) => !!v || 'Name is required',
        (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
      ],
      team: '',
      teamRules: [
        (v) => !!v || 'Team is required',
      ],
      select: null,
      items: [
        
        'Lunas',
        'DP',
      ],
      checkbox: false
    }),
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>