<template>
    <v-layout>
      <h3>{{ text }}</h3>
    </v-layout>
</template>

<script>
  export default {
    data: () => ({
      text : 'Selamat Datang'
    }),
    props: {
      source: String
    }
  }
</script>