<template>
   <v-layout  row wrap>
       
        <v-btn light to="peserta/tambah">Tambah Peserta </v-btn>
        <v-flex xs12  offset-lg8>
        <v-text-field
            label="Cari Nama"
            v-model="search"
            @input="actionsearch"
            ></v-text-field>
        </v-flex>
        <v-data-table v-bind:headers="headers" :items="items" hide-actions class="">
            <template slot="items" scope="props">
                <td>{{ props.item.nama }}</td>
                <td class="text-xs-right">{{ props.item.tim }}</td>
                <td class="text-xs-right">{{ props.item.status }}</td>
                <td class="text-xs-right"> 
                    <v-btn color="primary">Ubah</v-btn>
                    <v-btn color="error">Hapus</v-btn>
                </td>
            </template>
        </v-data-table>
          <v-flex xs12 >
        <v-pagination :length="length" v-model="page" ></v-pagination>
         </v-flex>
    </v-layout>    
    

      
</template>
<script>
  export default {
    data () {
      return {
        search : '',
        page : 1,
        length: 1000,
        selected: [],
           headers: [
                { text: 'Nama',value: 'nama'},
                { text: 'Tim', value: 'tim' },
                { text: 'Status', value: 'status' },
                { text: 'Action', value: 'action' }
            ],
            items: [
                {
                    value: false,
                    nama: 'Aries',
                    tim: 'Ac Milan',
                    status: 'lunas'
                },
            ]
      }
    },
    methods: {
        actionsearch(value) {
            console.log(value);
        }
    },
     watch : {
        page : function (value) {
          //send to server new page
          console.log('send to server to get data from page = '+ value)
        }
      }
  }
</script>