<template>
  <v-app id="inspire">
    <v-navigation-drawer
      persistent
      v-model="drawer"
      enable-resize-watcher
      app
    >
      <v-list dense>
        <v-list-tile v-for="menu in menus" :key="menu.name" router :to="menu.link">
          <v-list-tile-action>
            <v-icon>{{ menu.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ menu.name}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Prototipe</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-content>
        <v-container grid-list-md>
         <router-view></router-view>          
        </v-container>
      </v-content>
    </main>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>

  export default {
    data: () => ({
      drawer: true,
      menus: [
        { icon: 'home', name: 'Home', link: '/' },
        { icon: 'playlist_add', name: 'Daftar', link: '/list' }
      ]
    }),
    props: {
      source: String
    }
  }
</script>